In [2]:
import pandas as pd
import numpy as np

In [37]:
df=pd.read_csv("Iris.csv")
print("Original Dataframe is :")
display(df)

Original Dataframe is :

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [42]:
cond=(df['SepalLengthCm']>=60)
cond
df[cond]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [36]:
print("Flowers with more than 6cm lenght sepal:")
df2=df.loc[df['SepalLengthCm']>=6]
display(df2)

Flowers with more than 6cm lenght sepal:

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
56,57,6.3,3.3,4.7,1.6,Iris-versicolor
...,...,...,...,...,...,...
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica

In [27]:
display(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [33]:
cont=df['Species']=="Iris-sertosa"
cont

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [19]:
df2.to_csv("New_iris.csv")

In [20]:
b=pd.read_csv("New_iris.csv")

In [22]:
display(b)

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,50,51,7.0,3.2,4.7,1.4,Iris-versicolor
1,51,52,6.4,3.2,4.5,1.5,Iris-versicolor
2,52,53,6.9,3.1,4.9,1.5,Iris-versicolor
3,54,55,6.5,2.8,4.6,1.5,Iris-versicolor
4,56,57,6.3,3.3,4.7,1.6,Iris-versicolor
...,...,...,...,...,...,...,...
62,144,145,6.7,3.3,5.7,2.5,Iris-virginica
63,145,146,6.7,3.0,5.2,2.3,Iris-virginica
64,146,147,6.3,2.5,5.0,1.9,Iris-virginica
65,147,148,6.5,3.0,5.2,2.0,Iris-virginica
66,148,149,6.2,3.4,5.4,2.3,Iris-virginica

In [43]:
data = {'a':10, 'b':20, 'c':30}
pd.Series(data)
data.values()

dict_values([10, 20, 30])